name: 'CI build & test'

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'

permissions: read-all

jobs:
  run:
    name: Execute test suite with bun
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Run test suite
        run: bun test-ci
